{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1 class="my-4">Crud App</h1>
    {% if groceries|length < 1 %}
        <p>There is nothing to buy for now.</p>
    {% else %}
        <table class="table">
            <thead>
                <tr>
                    <th>Grocery</th>
                    <th>Added</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for groc in groceries %}
                    <tr>
                        <td><a href="{{ url_for('update', id=groc.id) }}">{{ groc.name }}</a></td>
                        <td>{{ groc.date_created.date() }}</td>
                        <td class="text-right"><a class="btn btn-danger btn-sm" href="{{ url_for('delete', id=groc.id) }}" role="button">Delete</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% include 'snippets/form.html' %}

</div>
{% endblock %}

